SECRET_KEY=여기에-장고-시크릿키-입력
DEBUG=True

SEOUL_API_KEY=
NATIONAL_API_KEY=
NATIONAL_API_URL=https://apis.data.go.kr/1741000/general_restaurants/info

KAKAO_MAP_API_KEY=
KAKAO_REST_API_KEY=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=http://localhost:8000/accounts/kakao/callback/

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_REDIRECT_URI=http://localhost:8000/accounts/naver/callback/

TOSS_CLIENT_KEY=
TOSS_SECRET_KEY=
