{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="referrer" content="strict-origin-when-cross-origin" />
  <title>{% block title %}정직식당{% endblock %}</title>

  <link href="https://fonts.googleapis.com/css2?family=Jua&family=Do+Hyeon&family=Noto+Sans+KR:wght@300;400;500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/base.css' %}?v=3">
  <link rel="stylesheet" href="{% static 'css/header.css' %}?v=3">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}?v=3">
  <link rel="stylesheet" href="{% static 'css/honest_restaurant/restaurant_list.css' %}?v=3">

  {% block extra_css %}{% endblock %}
</head>
<body>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {% include "header.html" %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include "footer.html" %}

  {% block extra_js %}{% endblock %}

</body>
</html>
